@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

:root {
  --primary: #10141e;
  --secondary: #161d2f;
  --tertiary: #5a698f;

  --font-outfit: "Outfit", san-serif;

  --text-xl: 2rem; /* 32px */
  --text-lg: 1.5rem; /* 24px */
  --text-md: 1.25rem; /* 20px */
  --text-base: 1rem; /* 16px */
  --text-sm: 0.875rem; /* 14px */
  --text-xs: 0.75rem; /* 12px */

  /* Line Heights */
  --leading-xl: 2.25rem;
  --leading-lg: 2rem;
  --leading-md: 1.75rem;
  --leading-base: 1.5rem;
}
@theme {
  --color-blue-primary: #10141e;
  --color-blue-secondary: #161d2f;
  --color-blue-tertiary: #5a698f;
  --color-red-primary: #fc4747;

  --font-outfit: var(--font-outfit);

  --text-heading-xl: var(--text-xl);
  --text-heading-lg: var(--text-lg);
  --text-heading-md: var(--text-md);

  --text-body-lg: var(--text-base);
  --text-body-md: var(--text-sm);
  --text-body-sm: var(--text-xs);

  --leading-heading-xl: var(--leading-xl);
  --leading-heading-lg: var(--leading-lg);
  --leading-heading-md: var(--leading-md);
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.shimmer {
  background: linear-gradient(90deg, #2d2d2d 25%, #3a3a3a 37%, #2d2d2d 63%);
  background-size: 1000px 100%;
  animation: shimmer 1.5s infinite linear;
}

/* auth modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

.modal {
  background: white;
  color: black;
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.login-btn,
.signup-btn {
  padding: 10px 18px;
  border: none;
  cursor: pointer;
}

.login-btn {
  background: black;
  color: white;
}

.signup-btn {
  background: gray;
  color: white;
}

.close-btn {
  margin-top: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Bookmarks page styles */
.bookmark-container {
  padding: 40px;
  text-align: center;
}

.bookmark-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.bookmark-actions button {
  padding: 10px 18px;
  border: none;
  cursor: pointer;
  background: black;
  color: white;
}

.bookmark-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 100px;
}

.bookmark-card img {
  width: 100%;
  border-radius: 6px;
}
